
@{
    ViewBag.Title = "CamOn";
  
}
<div class="container text-center" style="margin-top: 50px;">
    <h2 class="text-success">Cảm ơn bạn đã đặt hàng!</h2>
    <p>Chúng tôi đã nhận được đơn hàng của bạn. Một email xác nhận đã được gửi đến địa chỉ email mà bạn đã cung cấp.</p>
    <p>Đơn hàng của bạn sẽ được xử lý và giao đến địa chỉ bạn đã cung cấp trong thời gian sớm nhất.</p>
    <p>Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi qua số điện thoại hỗ trợ hoặc email.</p>

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary" style="margin-top: 20px;">Quay lại Trang Chủ</a>
</div>