<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
    <display-name>LibraryApp</display-name>

    <!-- Chỉ định tệp chào mừng -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Định nghĩa servlet và ánh xạ -->
    <servlet>
        <servlet-name>ListBooksServlet</servlet-name>
        <servlet-class>com.example.ListBooksServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ListBooksServlet</servlet-name>
        <url-pattern>/listBooks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.example.AddBookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>com.example.UpdateBookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/updateBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.example.DeleteBookServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
</web-app>
